USE [Trinity Solar]
GO
/****** Object:  Table [dbo].[TSBT_BI_Metadata]    Script Date: 17-08-2021 19:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSBT_BI_Metadata](
	[Table_Name] [varchar](250) NULL,
	[Column_Name] [varchar](100) NULL,
	[Type_Of_Column] [varchar](50) NULL,
	[Measured_Calculated] [varchar](100) NULL,
	[Measured_Calculated_Formula] [varchar](4000) NULL,
	[Column_Definition] [varchar](max) NULL,
	[Lookup_Table] [varchar](500) NULL,
	[Join_Condition] [varchar](500) NULL,
	[Source_Table] [varchar](500) NULL,
	[Processing_Order_No] [int] NULL,
	[Execution_Order] [int] NULL,
	[Join_Type] [varchar](50) NULL,
	[Group_By_Condition] [varchar](500) NULL,
	[Identity_Column] [varchar](50) NULL,
	[Isvalid] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
